/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .about-parent {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
  }
  /* Name and Title */
  .about-header {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-header h1 {
    color: #888888;
    font-size: 3em;
    text-transform: uppercase;
  }
  .about-header p {
    color: #ffffff;
    font-size: 1.4em;
  }
  .about-header img {
    display: none;
  }
  /* Details as list */
  .about-content {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-content li {
    margin: 1.5% 0 1.5% 0;
    text-align: center;
    line-height: 1.5;
    color: #888888;
    font-size: 2.2em;
    list-style-type: none;
  }
  .about-content p {
    display: none;
  }
}

/* Mobile Landscape Styles */
@media only screen
and (min-width: 480px)
and (max-width: 823px)
and (orientation: landscape) {
  .about-parent {
    display: flex !important;
    flex-direction: column !important;

    align-items: center!important;
    text-align: center!important;
  }
  .about-header {
    margin: 1.5% 0 1.5% 0 !important;
    width: 60vw !important;
  }
  .about-header {
    font-size: 4.5vh;
  }
  .about-content {
    width: 60vw !important;
    margin: 2.5% 0 2.5% 0 !important;

  }
  .about-content p {
    display: none !important;
  }
  .about-content li {
    display: inherit !important;
    margin: 1.5% 0 1.5% 0 !important;
    text-align: center !important;
    line-height: 1.3 !important;
    color: #888888 !important;
    font-size: 6vh !important;
    list-style-type: none !important;
  }
  .about-parent button {
    width: 100% !important;

  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .about-parent {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
  }
  /* Name and Title */
  .about-header {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);

  }
  .about-header h1 {
    color: #888888;
    font-size: 3.3em;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .about-header p {
    color: #ffffff;
    font-size: 1.7em;
  }
  .about-header img {
    display: none;
  }
  /* Details as list */
  .about-content {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-content li {
    display: none;
  }
  .about-content p {
    text-align: center;
    color: #888888;
    font-size: 1em;
  }
  .about-content mark.lightgrey {
    color: lightgrey;
    background: none;
  }
}

/* Desktop Stlyes */
@media only screen and (min-width: 961px) {
  .about-parent {
    padding-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }
  .about-parent button {
    position: relative;
  }
  .about-header {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
  }
  .about-header h1 {
    color: #888888;
    font-size: 3.6em;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .about-header p {
    margin-top: 5%;

    color: #ffffff;
    font-size: 2em;
  }
  .about-header img {
    margin-top: 2%;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-content {
    margin: 2.5% 0 2.5% 2.5%;;
    width: 55%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

  }
  .about-content li {
    display: none;
  }
  .about-content p {
    color: #888888;
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .about-content mark.lightgrey {
    color: lightgrey;
    background: none;
  }
}

/* Ultrawide Desktop Stlyes */
@media only screen and (min-width: 2560px) {
  .about-header {
    width: 40%;
  }
  .about-header h1 {
    font-size: 7em;
  }
  .about-header p {
    font-size: 4em;
  }
  .about-content p {
    font-size: 2.3em;
  }
}
