/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .about-parent {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .about-header {
    margin: 2.5% 3% 1.5% 3%;
    height: 17vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-header h1 {
    color: #888888;
    font-size: 7vh;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .about-header p {
    color: #ffffff;
    font-size: 3vh;
  }
  .about-header img {
    display: none;
  }
  .about-content {
    margin: 2.5% 3% 1.5% 3%;
    height: 65vh;
    width: 94%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-content li {
    margin: 2.5% 0 2.5% 0;
    padding: 1.5% 0 1.5% 0;
    text-align: center;
    color: #888888;
    font-size: 4.1vh;
    list-style-type: none;
  }
  .about-content p {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .about-parent {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .about-header {
    margin: 2.5% 3% 1.5% 3%;
    /* height: 30vh; */
    width: 94%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);

  }
  .about-header h1 {
    color: #888888;
    height: 5vh;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .about-header p {
    height: 5vh;
    color: #ffffff;
    font-size: 3vh;
  }
  .about-header img {
    display: none;
  }

  .about-content {
    width: 94%;
    height: 77vh;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .about-content li {
    display: none;
  }
  .about-content p {
    margin: 1%;
    text-align: center;
    color: #888888;
    font-size: 2.3vh;
  }
  .about-content mark.lightgrey {
    color: lightgrey;
    background: none;
  }
}

/* Desktop Stlyes */
@media only screen and (min-width: 961px) {
  .about-parent {
    width: 90vw;
    height: 85vh;
    padding: 1%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .about-header {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .about-header h1 {
    color: #888888;
    font-size: 6.6vh;
    white-space: nowrap;
    text-transform: uppercase;
    padding-bottom: 5%;
  }
  .about-header p {
    padding-top: 3.5%;
    color: white;
    font-size: 2.5vh;
  }
  .about-header img {
    width: 42vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }

  .about-content {
    margin: 0.5% 0 0.5% 2.5%;
    /* background-color: red; */
    text-align: left;
  }
  .about-content li {
    display: none;
  }
  .about-content p {
    width: 45vw;

    color: #888888;
    font-size: 2.8vh;
    padding-bottom: 5%;
  }
  .about-content mark.lightgrey {
    color: lightgrey;
    background: none;
  }
}
/* Desktop Stlyes Wide Screens */
@media only screen and (min-width: 1441px) and (max-width: 2561px){
  .about-parent {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .about-header {
    display: flex;
    /* background-color: yellow; */
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .about-content {
    margin: 0.5% 0 0.5% 2.5%;
    /* padding: 0 40% 0 0; */
    justify-content: center;
    background-color: red;
    text-align: left;
  }
  .back {
    width: 300px;
    height: 100px;

    bottom: 40px;
    position: absolute;
    /* background-color: red; */

    outline: none;
    border-width: 0;

    color: #888888;
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
}
