/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .contact-parent {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .contact-icon-parent {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .icon-child i {
    font-size: 7.2em;
  }
  .icon-child:nth-child(1) i {
    /* Email */
    color: #ffffff;
  }
  .icon-child:nth-child(2) i {
    /* Resume */
    color: #888888;
  }
  .icon-child:nth-child(3) i {
    /* Medium */
    color: #000;
  }
  .icon-child:nth-child(4) i {
    /* Twitter */
    color: #55acee;
  }
  .icon-child:nth-child(5) i {
    /* LinkedIn */
    color: #0976b4;
  }
  .icon-child:nth-child(6) i {
    /* Github */
    color: #333;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .contact-parent {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .contact-icon-parent {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .icon-child i {
    font-size: 9.7em;
  }
  .icon-child:nth-child(1) i {
    /* Email */
    color: #ffffff;
  }
  .icon-child:nth-child(2) i {
    /* Resume */
    color: #888888;
  }
  .icon-child:nth-child(3) i {
    /* Medium */
    color: #000;
  }
  .icon-child:nth-child(4) i {
    /* Twitter */
    color: #55acee;
  }
  .icon-child:nth-child(5) i {
    /* LinkedIn */
    color: #0976b4;
  }
  .icon-child:nth-child(6) i {
    /* Github */
    color: #333;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .contact-parent {
    padding-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .contact-icon-parent {
    margin: 2.5% 0 2.5% 0;
    padding-bottom: 5%;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .icon-child i {
    font-size: 24vh;
    padding: 1%;
  }
  .icon-child:nth-child(1) i {
    padding: 5%;
    /* Email */
    color: #ffffff;
  }
  .icon-child:nth-child(2) i {
    /* Resume */
    padding: 5%;
    color: #888888;
  }
  .icon-child:nth-child(3) i {
    /* Medium */
    padding: 5%;
    color: #000;
  }
  .icon-child:nth-child(4) i {
    /* Twitter */
    padding: 5%;
    color: #55acee;
  }
  .icon-child:nth-child(5) i {
    /* LinkedIn */
    padding: 5%;
    color: #0976b4;
  }
  .icon-child:nth-child(6) i {
    /* Github */
    padding: 5%;
    color: #333;
  }
}
/* Ultrawide Desktop Stlyes */
@media only screen and (min-width: 2560px) {
  .icon-child i {
    font-size: 29vh;
  }
}
