/* Mobile Styles */
@media only screen and (max-width: 400px) {
  /* Container */
  .contact-parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-icon-parent {
    margin: 5% 5% 0 5%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #232323;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .icon-child i {
    font-size: 19.7vh;
    padding: 3%;
    margin-left: .2%;
    margin-right: .2%;
  }

  .icon-child:nth-child(1) i {
    /* Email */
    padding-top: 12.2%;
    color: #FA0013;
  }
  .icon-child:nth-child(2) i {
    /* Resume */
    padding-top: 12.2%;
    color: #3b5998;
  }
  .icon-child:nth-child(3) i {
    /* Medium */
    color: #000;
  }
  .icon-child:nth-child(4) i {
    /* Twitter */
    color: #55acee;
  }
  .icon-child:nth-child(5) i {
    /* LinkedIn */
    color: #0976b4;
  }
  .icon-child:nth-child(6) i {
    /* Github */
    color: #333;
  }

  /* Button Block */
    .back {
    margin: 5%;
    height: 23%;

    background-color: #232323;
    outline: none;

    color: #888888;
    font-size: 3.2em;
    text-transform: uppercase;

    border-width: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .contact-parent {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
  }
  .contact-icon-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }
  .icon-child {
    margin: 3%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }
  .icon-child i {
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;

    font-size: 21vh;
  }

  .icon-child:nth-child(1) i {
    /* Email */
    padding-top: 12.2%;
    font-size: 18vh !important;
    color: #ffffff;
  }
  .icon-child:nth-child(2) i {
    /* Resume */
    padding-top: 12.2%;
    font-size: 18vh !important;
    color: #888888;
  }
  .icon-child:nth-child(3) i {
    /* Medium */
    color: #000;
  }
  .icon-child:nth-child(4) i {
    /* Twitter */
    color: #55acee;
  }
  .icon-child:nth-child(5) i {
    /* LinkedIn */
    color: #0976b4;
  }
  .icon-child:nth-child(6) i {
    /* Github */
    color: #333;
  }
}
