/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .portfolio-parent {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .portfolio-child {
    margin: 2.5% 0 2.5% 0;
    padding-bottom: 5%;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .child-detail {
    display: none;
  }
  .portfolio-child a,i {
    font-size: 2.85em;
    color: #FA0013;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .portfolio-parent {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

  }
  .portfolio-child {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: row;

    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .portfolio-child h1 {
    /* Project Name */
    font-size: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
  }
  .portfolio-child p:nth-child(2) {
    /* About Project */
    font-size: 0.7em;
    color: #888888;
  }
  .portfolio-child p:nth-child(4) {
    /* Technology Used */
    font-size: 0.9em;
    color: lightgrey;
  }
  .portfolio-child a,i {
    /* Github & Youtube Logo */
    font-size: 1.45em;
  }
  .portfolio-child i {
    /* Youtube Logo */
    color: #FA0013;
    margin: 0 0 0 1.5%;
    font-size: 5.3em;
  }
  .child-detail {
    display: flex;
    flex-direction: column;
  }
  .child-detail h1, p {
    margin: 2.5%;
  }
  .child-detail i {
    font-size: 1em;
    /* display: none; */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .portfolio-parent {
    padding-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .portfolio-parent button {
    position: relative;
  }

  .portfolio-child {
    margin: 0.5% 0 0.5% 0;
    width: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .portfolio-child a,i {
    margin-left: 1%;
    font-size: 4em;
    color: #FA0013;
  }
  .child-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .child-detail h1 {
    padding-left: 2%;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
  }
  .child-detail p {
    padding-left: 2%;
    width: 75%;
    color: #888888;
    font-size: 1.3em;
  }
  .child-detail mark.lightgrey {
    color: #888888;
    background: none;
    font-size: 1.4em;
  }
  .child-detail i {
    font-size: 0.7em;
  }
}

/* Ultrawide Desktop Stlyes */
@media only screen and (min-width: 2560px) {
  .portfolio-child a,i {
    font-size: 5em;
  }
  .child-detail h1 {
    font-size: 8em;
  }
  .child-detail p {
    width: 100%;
    font-size: 1.9em;
  }
  .child-detail mark.lightgrey {
    font-size: 1.6em;
  }
  .child-detail i {
    font-size: 1em;
  }
}
