/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .skills-parent {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .skills-child {
    margin: 2.5% 0 2.5% 0;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .skills-child i {
    font-size: 5em;
    padding: 2%;
  }
}

/* Mobile Landscape Styles */
@media only screen
and (min-width: 480px)
and (max-width: 823px)
and (orientation: landscape) {
  .skills-parent {
      width: auto !important;
  }
  .skills-child {
    margin: 0 !important;
    padding: 0.5% !important;
  }
  .skills-child i {
    font-size: 20vh !important;
    padding: 1% !important;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .skills-parent {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .skills-child {
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .skills-child i {
    font-size: 11em;
    padding: 2%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .skills-parent {
    padding-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .skills-child {
    margin: 2.5% 0 2.5% 0;
    padding-bottom: 5%;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;

    justify-content: space-around;
    align-items: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
  .skills-child i {
    font-size: 18vh;
    padding: 0.1%;
  }
}

/* Ultrawide Desktop Stlyes */
@media only screen and (min-width: 2560px) {
  .skills-child i {
    font-size: 25vh;
  }
}
