/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .skills-parent {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skills-child {
    margin: 5% 5% 0 5%;
    height: 80%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #232323;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }

  .skills-child i {
    font-size: 12.4vh;
    padding: 2%;
  }
  
  /* Button Block */
  .back {
    margin: 5%;
    height: 23%;

    background-color: #232323;
    outline: none;

    color: #888888;
    font-size: 3.2em;
    text-transform: uppercase;

    border-width: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .skills-parent {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
  }
  .skills-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
  }

  .skills-child i {
    margin: 2%;

    text-align: center;
    font-size: 19vh;
  }
}
