.learning {
  text-align: center;
  background-color: yellow;
}

.nav-parent h1 {
  border: 5px red solid;
  color: white;
  background-color: #232323;
}


.nav-container-parent {
  background-color: gray;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  align-content: center;
  /* align-self: flex-start; */
}
.nav-container-child-h {
  background-color: #232323;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
}

.nav-container-child-h h1 {
  margin: 0.4vh;
  padding: 2%;
  border: 5px white solid;
  color: white;
}

.nav-container-child {
  align-self: flex-start;
  background-color: red;
}
